{% extends "dashboard.html" %}
{% block title %}
Publicacion de tema en Sysforum
{% endblock %}
 
{% block contento %}
<div class="row">
        <div class="panel panel-default">
            <div class="table table-responsive"> 
                  
                <div class="panel-body">
                        <h2>Publicacion de tema en Sysforum</h2>
            
                    <table class="table table-striped" magin="auto" width="600" border="2" cellspacing="3" cellpadding="3" style="font-size: 10pt">
                           
                              <form action="" method="post">{% csrf_token %}
                                {{ form.as_p}}
                                <input name="submit" type="submit" class="btn  btn-success" value="Crear Publicacion">
                                
                            </form>
                    </table>
                </div>
            </div>
        </div>
</div>

   
{% endblock %}
<!--finaliza el bloque content-->
<!--heredamos el bloque footer-->
{% block footer %}
 <div class="navbar navbar-inverse navbar-fixed-bottom">
 <center style="padding-top: 12px">
 <small style="color: #fff">Footer Form</small>
     </center>
 </div>
{% endblock %}
<!--finaliza el bloque footer-->